body
{
  background-color: #9c8d7a;
}

#header {
  margin: auto;
  width: auto;
  font-family: arial;
}

ul,li { /*son para las listas*/
  list-style: none; /*para quitar los puntos*/
}

.nav li a { /*todos los elementos que esten en nav y poner sus propiedades*/
  background-color:#904545;
  color: #fff;
  text-decoration: none;
  padding: 10px 60px;
  display: block;
}

.nav > li {/*los que estan directo con li tengan estas propiedades*/
  float: left;
}

.bienvenido
{
  color: purple; /*pone de color de fondo */
  text-align: center; /*pone en el centro el texto */
  font-size: 40px; /*grosor de la letra */
}

#subtitulo
{
  text-align: center;
  font-family: 'ariel'; /* tipo de texto*/
  font-size: 15px; /* cuerpo de letra */
  color: #000; /* color del texto*/
  line-height: 20px; /* texto interlineado */
  margin-bottom: 18px; /* se paracion entre parrafo*/
}

#mensaje
{
  background-color: #fff;
  font-size: 30px;
  font-family: 'Noto Sans CJK TC Bold';
}

#imagenes {
  width: 300px;
  margin: 30px;
  margin-left: 70px;
  margin-right: 50px;
}

#imagenes1 {
  width: 450px;
  margin: 2px;
}

#titulo {
  margin-top: 50px;
  padding-right: 40%;
}

#texto {

  margin: 80px;
  padding-right: 50%
}
